
<div style="text-align:center">
  <h1 id="title" style="color:#2F4F4F"> 
    {{ title }}
  </h1>
</div>
<nav class="navbar navbar-light" style="background-color: #D8BFD8">
<ul >
  <li>
    <h4><a  routerLink="/employees" style="text-decoration:none; color:#2F4F4F;">Employees List</a></h4>
  </li>
  <li><div class="vl"> </div></li>
  <li>
    <h4><a  routerLink="/addemployee" style="text-decoration:none; color:#2F4F4F;">Add Employee</a></h4>
  </li>
</ul>
</nav>

<router-outlet ></router-outlet>

