ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
    text-align: center;
    padding: 8px;
}

a:hover {
  background-color:rgb(255, 255, 255);
}

.vl {
  border-left: 3px solid rgb(80, 83, 80);
  height: 60px;
}
